div(ng-controller='sbArchivedTimelineCtrl')
    .button.grey(ng-click='back()') back
    .line
    .card(ng-repeat='milestone in activeTimeline.milestones')
        span(ng-bind='milestone.description')
    div(ng-if='noMilestones()') No milestones...
