div(ng-controller='sbArchivedTimelinesCtrl')
    .button.grey(ng-click='back()') back
    .line
    .card(ng-repeat='timeline in timelines', ng-click='show(timeline)')
        .menu.undo(ng-if='can("roadmap:manage") && editMode', title='Restore timeline', ng-click='restore(timeline)', stop-event='click')
        span(ng-bind='timeline.title')
        .menu.remove(ng-if='can("roadmap:manage") && editMode', title='Permanently remove timeline', ng-click='remove(timeline)', stop-event='click')
