.container-fixed(ng-if="!signed()")
    .text-center
        .logo
            i Roadmap Tool
        .slogan
            i The easy way to visualize and socialize project schedules, dates, and milestones

    .text-center
        .sign-in-now Sign-in now
        .login-buttons.large
            .button.login.google(ng-click='signin(0)') Google
            .button.login.facebook(ng-click='signin(1)') Facebook
            .button.login.github(ng-click='signin(2)') GitHub

.flexible(infinite-scroll='loadRoadmaps()', can-load='true', ng-show='signed()')
    .title
        .item(ng-class='{"active": onlyOwn}', ng-click='onlyOwn = true') my roadmaps
        .item(ng-class='{"active": !onlyOwn}', ng-click='onlyOwn = false') all roadmaps
    .roadmap(ng-class='{"owned": isOwner(roadmap)}', ng-repeat='roadmap in filteredRoadmaps()', ng-bind='roadmap.name', ng-click='loadRoadmap(roadmap.id)')
