pre.value(markdown, ng-hide='edit_mode || !big', ng-click='setEditMode()', md-value='displayValue()')
markdown.value(ng-hide='edit_mode || big', ng-click='setEditMode()', md-value='displayValue()')
.edit(ng-show='edit_mode')
    form(ng-submit='save()')
        input(ng-show='!big', ng-model='value', placeholder='{{placeholder}}', ng-blur='save()')
        textarea(msd-elastic, ng-show='big', ng-model='value', placeholder='{{placeholder}}', ng-blur='save()', ng-keyup='textAreaAdjust(this)')
        .help(ng-show='big')
            span(stop-event='click', ng-click='toggleHelpDropdown()') Formatting help
                .dropdown(ng-if='helpDropdown')
                    .title Formatting Help
                    .line

                    .mdhelp
                        p Trello uses Markdown for formatting. Here are the basics. See the complete syntax.
                        .line

                        p.second First Level Header
                        p Making Scrambled Eggs: A Primer
                        p
                            | ===============================
                        .line

                        p.second Second Level Header
                        p 1.1: Preparation
                        p ----------------
                        .line

                        p.second Paragraphs
                        p Add two new lines to start a new paragraph. Crack two eggs into the bowl and whisk.
                        .line

                        p.second Bold
                        p **Carefully** crack the eggs.
                        .line

                        p.second Emphasis
                        p Whisk the eggs *vigorously*.
                        .line

                        p.second Lists
                        p Ingredients:
                        p - Eggs
                        p - Oil
                        p - *Optional:* milk
                        .line

                        p.second Links
                        p To download a PDF version of the recipe, [click here](https://example.com/scrambled-eggs.pdf).
                        .line

                        p.second Images
                        p ![The Finished Dish](https://example.com/eggs.png)
