div(ng-controller='sbfiltersCtrl')
    .button.grey(ng-click='back()') back
    .line
    .filter(ng-repeat='timeline in timelines', ng-click='toggleTimeline(timeline)')
        .mark(ng-class='{"active": timeline.visible}')
        span(ng-bind='timeline.title')
    .line
    .filter.label(ng-repeat='label in labels', ng-click='toggleLabel(label)')
        .mark(ng-style='labelColor(label)', ng-class='{"active": label.visible}')
        span(ng-bind='label.text')
