.full(ng-if='show', ng-click='hideMilestone()')
    .wrapper
        .milestone(stop-event='click', ng-class='{"wide": editMode}', ng-click='menuClose()')
            .menu.remove(ng-click='hideMilestone()')

            .main(ng-class='{"small": editMode}')
                .circle(ng-show='!editMode', ng-style='bgc()', ng-class='{"blank": !milestone.label_id}', ng-click='toggleDatepicker()', stop-event='click')
                    .w
                        .abs-date(ng-show='!milestone.date')
                            div select
                            div date

                        .abs-date(ng-show='milestone.date')
                            div(ng-bind='milestone.date | date: "dd MMM"')
                            div(ng-bind='milestone.date | date: "EEE"')
                        .rel-date
                            div(ng-show='milestone.date')
                                .today(ng-if='eq()') today
                                div(ng-if='!eq()')
                                    .days(ng-bind='dateDiff()')
                                    ng-pluralize(count='dateDiff()', when='{"1": "weekday", "other": "weekdays"}')
                                    div(ng-bind='direction()')
                editable.description(value='milestone.description', callback='update', edit-id='"description"', placeholder='"Some description..."', big='true', stop-event='click')

                .line(ng-show='milestone.sub_items.length > 0 && milestone.isMultiline')

                ul.todos(ng-class='{"small": editMode}', ui-sortable='sortableOptions', ng-model='milestone.sub_items')
                    li(ng-show='!milestone.isMultiline', ng-repeat='subitem in milestone.sub_items track by $index | orderBy: position')
                        .todo
                            .menu.remove(ng-if='editMode', ng-click='removeSubitem($index)')
                            editable(ng-show='editMode', value='subitem.name', callback='updateSubitem($index)', edit-id='"sub-item-edit"', stop-event='click')
                            span(ng-hide='editMode', ng-bind='subitem.name')
                    editable.todo.inactive(ng-show='editMode && !milestone.isMultiline', edit-id='"new-todo"', value='subitem', callback='addSubitem', placeholder='"New item..."', reset='true', stop-event='click')
                .labels(ng-show='editMode')
                    .hint(ng-if='!milestone.label_id') Select a colored label
                    .label(ng-repeat='label in labels()', ng-class='{"active": label.id == milestone.label_id}', ng-style='bgc(label.id)', ng-click='setLabel(label.id)')
                        .mark
                        span(ng-bind='label.text')

                .preview(ng-show='editMode')
                    .title Preview
                    milestone(milestone='milestone')
            .calendar(ng-show='editMode', ui-date='formatCalendar', ng-model='milestone.date_end')

            div(ng-if='new_record')
                .button.accent(ng-class='{"inactive": !canSaveMilestone()}', ng-click='save()', tabindex='0') save
                .button.grey(ng-click='hideMilestone()') cancel
            //.button.grey(ng-if='!new_record && editMode', ng-click='remove()') remove
