doctype
html(ng-app='roadmap')
    head
        title Roadmap Tool

        meta(charset='utf-8')
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name="viewport", target-densitydpi="device-dpi")

        script(src='https://apis.google.com/js/client:plusone.js?onload=render')

        != js('vendor/jquery.min')
        //!= js('vendor/jquery.mCustomScrollbar.concat.min')
        != js('vendor/jquery.mCustomScrollbar')
        script(src='https://code.jquery.com/ui/1.10.3/jquery-ui.min.js')

        != js('vendor/socket.io.js')
        //!= js('vendor/angular.min')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.js')
        != js('vendor/angular-resource.min')
        != js('vendor/angular-route.min')
        != js('vendor/angular-animate.min')
        != js('vendor/angular-sanitize.min')
        != js('vendor/angular-cookies.min')
        != js('vendor/draganddrop')
        != js('vendor/underscore-min')
        != js('vendor/hashids.min')
        != js('vendor/hammer.min')
        != js('vendor/moment.min')
        != js('vendor/angular-moment.min')
        != js('vendor/FileSaver')
        != js('vendor/showdown')

        != js('app')
        != js('config')

        != js('filters/html_safe')

        != js('directives/ui-sortable.js')
        != js('directives/stopEvent')
        != js('directives/shortcutter')
        != js('directives/infinite-scroll')
        != js('directives/timeline')
        != js('directives/milestone')
        != js('directives/full_milestone')
        != js('directives/editable')
        != js('directives/shortcuts')
        != js('directives/angular-hammer')
        != js('directives/ngRepeatReorder')
        != js('directives/date')
        != js('directives/angular-file-upload.min')
        != js('directives/markdown')
        != js('directives/elastic')

        != js('services/storage')
        != js('services/api')
        != js('services/ability')
        != js('services/user')
        != js('services/timeline')
        != js('services/label')
        != js('services/roadmap')
        != js('services/filter')
        != js('services/roadmap_users')
        != js('services/activity')
        != js('services/subscription')
        != js('services/member')
        != js('services/socket.io')

        != js('controllers/main')
        != js('controllers/dashboard')
        != js('controllers/roadmap')
        != js('controllers/sb_menu')
        != js('controllers/sb_archived_timelines')
        != js('controllers/sb_archived_timeline')
        != js('controllers/sb_labels')
        != js('controllers/sb_filters')
        != js('controllers/profile')
        != js('controllers/users')

        != css('jquery.mCustomScrollbar')

        != css('app')
        != css('elements')
        != css('flexible')
        != css('spinner')
        != css('header')
        != css('sidebar')
        != css('dropdown')
        != css('datepicker')
        != css('dashboard')
        != css('editable')
        != css('notification')
        != css('menu')
        != css('timeline')
        != css('milestone')
        != css('filters')
        != css('shortcuts')
        != css('activities')
        != css('profile')
        != css('users')

        base(href='/')

    body(ng-class='{"hidden": isRoadmap}', ng-controller='mainCtrl', ng-click='closeAll()', shortcutter='', ng-init='setGithubToken("#{token}")')
        header
            .left
                .button(ng-click='toggleRoadmaps()', stop-event='click')
                    span Roadmaps
                    .dropdown(ng-if='roadmapsDropdown', ng-controller='dashboardCtrl', stop-event='click')
                        div(ng-include='page()')

                .button(ng-if='admin()', ng-click='toggleUsers()', stop-event='click')
                    span Users
                    .dropdown(ng-if='usersDropdown', ng-controller='usersCtrl', stop-event='click')
                        div(ng-include='page()')

            .right
                .login-buttons(ng-if='!signed()')
                    span Sign in with
                    .button.login.google(ng-click='signin(0)')
                    .button.login.facebook(ng-click='signin(1)')
                    .button.login.github(ng-click='signin(2)')

                div(ng-if='signed()')
                    .button.user(ng-if='user().name', ng-click='viewProfile()')
                        .avatar
                            .name(ng-bind='user().name[0]')
                            .img(ng-style='userAvatar()')
                            .up(ng-if='user().role == 1')
                        span(ng-bind='user().name')
                    .button.edit(ng-if='isRoadmap', ng-class='{"accent": editMode}', ng-click='toggleEditMode()')
                        span(ng-bind='editButtonTitle()')

            .spinner(ng-class='{"active": spinner}')
                span(ng-click='homeScreen()') Roadmap tool
                .bounce1
                .bounce2
                .bounce3
                .bounce4
        .notification(ng-class='notification.class', ng-bind='notification.title')

        ng-view
        full-milestone
        shortcuts
