div(ng-controller='sbLabelsCtrl')
    .button.grey(ng-click='back()') back
    .line
    .labels
        .color(ng-repeat='label in labels')
            .label(ng-style='bgc(label.id)')
            input(ng-model='label.text', stop-event='keydown')
    .button.accent(ng-click='updateLabels()') save
