.padded
    .menu.remove(ng-click='closeDropdown()')
    .img
        .name(ng-bind='member.user.email[0]')
        .avatar(ng-style='memberAvatar(member.user)')
    .data
        .email(ng-bind='member.user.email')
div(ng-if='can("roadmap:manage")')
    .access.active(ng-click='changePermissions()') Change permissions... ({{rights(member.rights)}})
    .access.active(ng-click='revokeAccess()') Revoke access
div(ng-if='!can("roadmap:manage")')
    .access Change permissions... ({{role(member.rights)}})
    .access Revoke access
