div
    .circle(ng-style='bgc()')
        .w
            .abs-date
                div(ng-bind='milestone.date | date: "dd MMM"')
                div(ng-bind='milestone.date | date: "EEE"')
            .rel-date
                .today(ng-if='eq()') today
                div(ng-if='!eq()')
                    .days(ng-bind='dateDiff()')
                    ng-pluralize(count='dateDiff()', when='{"1": "weekday", "other": "weekdays"}')
                    div(ng-bind='direction()')
    .description(ng-click='showMilestone()')
        .label(ng-style='bgc()')
        .overflowed
            markdown(md-value='milestone.description')
            ul(ng-show='!milestone.isMultiline')
                li(ng-repeat='subitem in milestone.sub_items track by $index', ng-bind='subitem.name')
        .overflow(ng-if='overflowed(milestone.element_id)', ng-click='showMilestone(milestone)') show all
