.button.grey(ng-click='go(0)') back

.line

.users
    .user-data
        form(ng-submit='addUserComplete()')
            input#new-user-email(placeholder='Email', ng-model='newUser.email', stop-event='keydown')

            p
                input#role-admin(type='radio', ng-model='newUser.role', value='1')
                label(for='role-admin') Superadmin
            p
                input#role-normal(type='radio', ng-model='newUser.role', value='2')
                label(for='role-normal') Normal user

    .line

    .button.accent(ng-click='addUserComplete()') Add
