.padded
    .menu.remove(ng-click='closeDropdown()')
    .title Change Permissions
    .line
.access(ng-class='{"active": member.rights == 1}', ng-click='setPermissions(member, 0)') Admin
.access(ng-class='{"active": member.rights == 0}', ng-click='setPermissions(member, 1)') Normal
