.profile-bar
    .flexible.small
        .image(ng-click='toggleAvatarChange()', stop-event='click')
            .name(ng-bind='user.name[0]')
            .avatar(ng-style='userAvatar()')
            .change change
            .dropdown(ng-show='changeAvatar')
                .title change avatar
                .line
                label.button.grey(for='user-image') Upload a new picture
                input#user-image(type='file', accept='image/*', ng-file-select='onImageSelect($files)', onclick='this.value=null')
        .name(ng-bind='user.name')
        .email(ng-bind='user.email')

        .tabs
            .tab(ng-class='{"active": currentTab == $index}', ng-repeat='tab in tabs', ng-bind='tab', ng-click='switchTab($index)')

.flexible.small(ng-include='tab()')
