.hint.notice Add roadmap
.button.accent(ng-click='go(1)') Create new
label.button.accent(for='import', ng-click='importRoadmap()') Import...
input#import(type='file', accept='.json', ng-file-select='onFileSelect($files)', onclick='this.value=null')
.line

input#find-roadmap(placeholder='Find roadmap by name...', ng-model='filter', stop-event='keydown')
.rm(ng-repeat='roadmap in roadmaps | filter:filter | limitTo: 5', ng-click='loadRoadmap(roadmap.id)')
    .thumb
    span(ng-bind='roadmap.name')
