.subheader(ng-class='{"small": sidebar}', ng-click='hui()')
    div(ng-if='roadmap')
        .toggle-sidebar(ng-if='!sidebar', ng-click='showSidebar()')
            span Show sidebar
        .subscription(ng-if='roadmap.is_subscribed', ng-click='toggleSubscriptionDropdown()', stop-event='click')
            span Subscribed
            .dropdown(ng-if='subscriptionDropdown', stop-event='click')
                .menu.remove(ng-click='closeDropdown()', stop-event='click')
                .title Unsubscribe?
                .line
                .hint You can re-subscribe via the roadmap menu
                .button.alert.wide(ng-click='unsubscribe()') Unsubscribe
        .filtering.active(ng-show='isFiltered()', ng-controller='sbfiltersCtrl')
            .title(ng-click='showFilters()', ng-click='showFilters()') Filtering is on
            .disable(ng-click='reset()')

        .roadmap-title(ng-if='cannot("roadmap:manage") || !editMode')
            span(ng-bind='roadmap.name')
        .roadmap-title.edit(ng-if='can("roadmap:manage") && editMode', ng-click='toggleEditRoadmapTitle()', stop-event='click')
            span(ng-bind='roadmap.name')
            .dropdown(ng-if='roadmapTitleDropdown', stop-event='click')
                .menu.remove(ng-click='closeDropdown()', stop-event='click')
                .title Rename roadmap
                .line
                form(ng-submit='updateRoadmap()')
                    input(ng-model='roadmap.name', stop-event='keydown')

        .privacy(ng-if='cannot("roadmap:manage") || !editMode')
            span(ng-bind='privacyLabel()')
        .privacy.edit(ng-if='can("roadmap:manage") && editMode', ng-click='togglePrivacyDropdown()')
            span(ng-bind='privacyLabel()')
            .dropdown(ng-if='privacyDropdown')
                .padded
                    .menu.remove(ng-click='closeDropdown()', stop-event='click')
                    .title Change Visibility
                    .line
                .privacy-type(ng-click='setPrivacy(true)') Private
                .privacy-type(ng-click='setPrivacy(false)') Public

.timeline#timeline(ng-class='{"small": sidebar}')
    .titles
        timeline(ng-repeat='t in visible() | orderBy: "id"', timeline='t', ng-mouseover='setRecentTimeline(t.id)')
        .title(ng-show='can("roadmap:manage") && editMode')
            editable.new-timeline(value='newTimeline', callback='addTimeline', placeholder='"Add a timeline"', reset='true', stop-event='click')
    .tl-wrapper(ng-style='tlStyle()')
        .rows.old
            #old-milestones(infinite-scroll='loadMilestones()', can-load='infinite.load')
                .row(ng-repeat='(date, v) in oldDates()')
                    .milestone(ng-repeat='t in visible() | orderBy: "id"')
                        .item(ng-class='{"first": $index==0}', ng-repeat='milestone in filtered(t.milestones, date) | orderBy: "sub_items.length"', ng-mouseover='setRecentTimeline(t.id)')
                            milestone(milestone='milestone')

        .rows
            .row(ng-repeat='(date, v) in currentDates()')
                .milestone(ng-repeat='t in visible() | orderBy: "id"')
                    .item(ng-class='{"first": $index==0}', ng-repeat='milestone in filtered(t.milestones, date) | orderBy: "sub_items.length"', ng-mouseover='setRecentTimeline(t.id)')
                        milestone(milestone='milestone')

.sidebar(ng-if='sidebar', ng-controller='sbMenuCtrl', ng-init='openFilters(filters)')
    .arrow(ng-click='hideSidebar()')
    .hidden
        .page(ng-include='page()')

.full(ng-if='copyDialog')
    .wrapper
        .milestone.small(stop-event='click')
            div
                input#copy(type='radio', ng-model='copyMove', value='copy')
                label(for='copy') Copy to...
            div
                input#move(type='radio', ng-model='copyMove', value='move')
                label(for='move') Move to...

            select(ng-options='roadmap.name for roadmap in roadmaps', ng-model='selectedRoadmap')

            .button.accent.text(ng-bind='copyMove', ng-click='copyMoveTimeline(copyMove, selectedRoadmap.id)')
