.sbmenu(ng-class='{"opened": menu}')
    .title(ng-click='toggleMenu()')
        span Menu
        .menu.open
    .items
        .item.main(ng-click='go(1)') Archived timelines
        .item.main(ng-if='can("roadmap:labels") && editMode', ng-click='go(2)') Labels
        .item.main(ng-click='go(3)') Filter cards

        .line.dark
        .item.secondary(ng-class='{"subscribed": roadmap.is_subscribed}', ng-click='toggleSubscription()', ng-bind='subscriptionMenuTitle()')
        div(ng-if='can("roadmap:manage") && editMode')
            .item.secondary(ng-if='roadmap.is_private', ng-click='setPrivacy(false)') Make public
            .item.secondary(ng-if='!roadmap.is_private', ng-click='setPrivacy(true)') Make private
        .line.dark
        .item.secondary(ng-if='can("roadmap:export") && editMode', ng-click='exportRoadmap()') Export roadmap...
        .item.secondary(ng-if='can("roadmap:archive") && editMode', ng-click='closeRoadmap()') Archive roadmap...
        .item.secondary(ng-if='can("roadmap:leave", roadmap)', ng-click='leaveRoadmap()') Leave roadmap...
.line
div(ng-controller='sbMenuCtrl')
    .sidebar-title Members
    .admins
        .admin(ng-repeat='member in members', ng-click='showMember(member)', stop-event='click')
            .name(ng-bind='member.user.email[0]')
            .img(ng-style='memberAvatar(member.user)')
            .up(ng-if='member.rights == 0')
        .dropdown(ng-if='dropdown[0]', stop-event='click')
            div(ng-include='memberPage()')
    .button.grey.admin(ng-show='can("roadmap:manage") && editMode', ng-click='toggleDropdown()', stop-event='click')
        span Add members...
        .dropdown(ng-show='dropdown[1]', stop-event='click')
            .menu.remove(ng-click='closeDropdown()', stop-event='click')
            .title Members
            .line
            form(ng-submit='addMember()')
                input(ng-model='new_member', stop-event='keydown')

            .hint(ng-if='!searching') Search for a person or enter an email address to invite someone new.
            .admins(ng-if='searching')
                .user(ng-repeat='user in users', ng-click='addMember(user)')
                    .admin
                        .name(ng-bind='user.email[0]')
                    span(ng-bind='user.email')

    .line
    .sidebar-title#activities-title Activity
    .activities(ng-style='activitiesStyle()')
        .activity(ng-repeat='activity in activities track by $index')
            .user-img
                .name(ng-bind='activity.user()[0]')
                .img(ng-style='memberAvatar(activity.activity.user)')
            .content
                .user-name(ng-bind='activity.user()')
                .action(ng-bind-html='activity.format(activity.actionDetails()) | htmlSafe')
                .action(ng-bind-html='activity.format(activity.destination()) | htmlSafe')
                //.time(ng-bind='activity.createdAt() * 1000 | date : "MMM d, y hh:mm"')
                .time(am-time-ago='activity.createdAt()' am-preprocess='unix')
            .line
