.full(ng-show='showHelp')
    .wrapper
        .milestone
            h3 Keyboard Shortcuts
            .shortcut(ng-repeat='shortcut in shortcuts')
                .line
                .key(ng-bind='shortcut.key')
                .title(ng-bind='shortcut.title')
                .description(ng-bind='shortcut.description')
