.hint(ng-if='subscriptions.length == 0') There are no subscriptions yet...
.subscription(ng-repeat='subscription in subscriptions')
    span.name(ng-bind='subscription.roadmap_name')
    span.subscribed(ng-click='toggleSubscription(subscription)', ng-bind='subscriptionLabel(subscription)')
