.title
    .menu.down(ng-if='editMode', ng-click='toggleMenu()', stop-event='click')
        .dropdown(ng-show='menu')
            .item(ng-click='addMilestone()') add milestone...
            .item(ng-click='archive()') archive timeline
            .item(ng-click='copyMove()', stop-event='click') Copy/move timeline...
    editable(value='timeline.title', callback='update', stop-event='click')
