input#find-user(placeholder='Find user...', ng-model='userFilter.email', stop-event='keydown')
.users
    .user(ng-repeat='user in users | filter:userFilter', ng-click='viewUser(user)')
        .image
            .name(ng-bind='user.email[0]')
            .img(ng-style='userImage(user)', ng-attr-title='{{user.email}}')
            .up.low(ng-if='user.role == 1', title='This member is an superadmin.')
        span(ng-bind='user.email')
.button.accent(ng-click='addUser()') Add user...
