.button.grey(ng-click='go(0)') back
.line
.users
    .user-data
        .image
            .name(ng-bind='user.email[0]')
            .img(ng-style='userImage(user)', ng-attr-title='{{user.email}}')
            .up.low(ng-if='user.role == 1', title='This member is an superadmin.')
        span(ng-bind='user.email')

        .line

        .access(ng-class='{"active": user.role == 2}', ng-click='setRole(user, 1)') Promote to superadmin
        .access(ng-class='{"active": user.role == 1}', ng-click='setRole(user, 2)') Promote to normal user

        .line

        .access.active(ng-click='remove(user)') Remove user
