.activities
    overflow: auto

    .activity
        .user-img
            display: inline-block

            width: 30px
            height: 30px

            margin-right: 8px

            background-color: #dcdcdc

            border-radius: 3px

            vertical-align: top

            .name
                position: absolute

                top: 0
                left: 0

                width: 100%
                line-height: 30px

                text-align: center
                text-transform: uppercase

            .img
                position: absolute

                top: 0
                left: 0

                width: 100%
                line-height: 30px
                height: 30px

                background-position: center
                -webkit-background-size: 100%
                background-size: 100%

                border-radius: 3px

                text-align: center
                text-transform: uppercase

        .content
            display: inline-block

            width: 200px

            vertical-align: top

            > div
                display: inline

            .user-name, .object
                font-weight: bold

            .action:before, .action:after
                content: ' '

            a
              text-decoration: underline

            .time
                display: inline-block

                color: #939393

                font-size: .9em
