@font-face
    font-family: fontello
    src: url('/font/fontello.ttf') format('truetype'), url('/font/fontello.svg') format('svg')

*
    -webkit-font-smoothing: antialiased

    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    transform-style: preserve-3d

html, body
    margin: 0
    padding: 0

    color: #393939

    font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif

html
    height: 100%

body
    min-height: 100%

body.hidden
    height: 100%

body.hidden
    overflow: hidden

body
    font-size: 100%
    -webkit-text-size-adjust: 100%

a, a:visited, a:active
    color: inherit

    text-decoration: none
