.container-fixed
  margin: 0 auto
  max-width: 1280px

  .text-center
      text-align: center

  .logo
      margin-top: 70px

      font-size: 4em
      font-weight: bold
      color: #216884

  .slogan
      margin-top: 10px

      font-size: 2.5em
      color: #81919B

  .sign-in-now
      margin: 50px 0 30px 0

      font-size: 2em
      color: #636363

.flexible
    .title
        line-height: 1.5em

        font-size: 1.25em
        font-weight: bold

        text-transform: capitalize

        .item
            display: inline-block

            margin-right: 8px

            opacity: .5

            cursor: pointer

        .item.active
            opacity: 1

    .roadmap
        display: inline-block

        width: 24%
        height: 120px

        margin: .5%
        padding: 16px

        background-color: #999
        color: #f3f3f3

        border-radius: 3px

        font-weight: bold
        font-size: 1.2em

        -moz-box-sizing: border-box
        box-sizing: border-box

        cursor: pointer

        overflow: hidden

        -webkit-transition: background-color .4s, opacity .4s
        -moz-transition: background-color .4s, opacity .4s
        transition: background-color .4s, opacity .4s

    .roadmap.owned
        background-color: #23719f

    .roadmap:hover
        background-color: darken(#23719f, 10%)

    .roadmap.ng-animate
        -webkit-transition: none
        -moz-transition: none
        transition: none

.privacy
    display: inline-block

    margin-right: 1em

    color: #f3f3f3

.roadmap-title
    display: inline-block

    color: #f3f3f3

    font-size: 1.5em
    font-weight: bold

@media screen and (max-width: 900px)
    .flexible
        .roadmap
            width: 32%

@media screen and (max-width: 600px)
    .flexible
        .roadmap
            width: 49%

@media screen and (max-width: 400px)
    .flexible
        .roadmap
            display: block

            width: auto
