table
    padding: 0

    color: #393939

    border-collapse: collapse
    border-spacing: 0

    text-align: center

    font-size: .8em

    td, th
        padding: 0

        background-color: transparent

    td
        width: 1.5em
        height: 1.5em

        cursor: pointer

        -webkit-transition: background-color .4s, color .4s
        -moz-transition: background-color .4s, color .4s
        transition: background-color .4s, color .4s

    td:hover
        background-color: #939393
        color: #fff

    td.ui-datepicker-unselectable
        background-color: transparent

        cursor: default

    td.past-date
        background-color: rgba(0, 0, 0, .1)
        color: rgba(0, 0, 0, .5)

    td.past-date:hover
        color: inherit

    td.ui-datepicker-current-day
        background-color: #2ecc71
        color: #fff

    td.ui-datepicker-current-day.fake
        background-color: rgba(0, 0, 0, .1)
        color: inherit

.ui-datepicker-title
    width: 150px

    margin-top: 8px

    font-size: .8em

    text-align: center

table:focus
    outline: none

.ui-datepicker-prev.ui-corner-all, .ui-datepicker-next.ui-corner-all
    display: inline-block

    width: 50%

    color: inherit

    cursor: pointer

.ui-datepicker-next.ui-corner-all
    text-align: right
