.dropdown
    position: absolute

    top: -webkit-calc(100% + 4px)
    top: -moz-calc(100% + 4px)
    top: calc(100% + 4px)
    right: -4px

    width: 300px

    padding: 8px

    background-color: #fff

    border-radius: 3px

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35)
    -moz-box-sizing: border-box
    box-sizing: border-box

    cursor: default

    .menu.remove
        display: block

        top: 0
        right: .5em

        color: #393939

        font-size: 1em

    .title
        color: #939393

        font-weight: bold

        text-align: center

    .line
        height: 1px

        margin: 8px 0

        background-color: #dcdcdc

    .img, .data
        display: inline-block

        vertical-align: top

    .img
        width: 50px
        height: 50px

        background-color: #dcdcdc

        border-radius: 3px

        .name
            position: absolute

            top: 0
            left: 0

            width: 100%
            line-height: 50px

            text-align: center
            text-transform: uppercase

            font-size: 1.5em

        .avatar
            position: absolute

            top: 0
            left: 0

            width: 100%
            line-height: 50px
            height: 50px

            background-position: center
            -webkit-background-size: 100%
            background-size: 100%

            border-radius: 3px

            text-align: center
            text-transform: uppercase

    .data
        margin-left: 8px

    .access
        padding: 8px

        color: #393939

        font-weight: bold

        opacity: .5

    .access.active
        opacity: 1

        cursor: pointer

        -webkit-transition: background-color .4s, color .4s
        -moz-transition: background-color .4s, color .4s
        transition: background-color .4s, color .4s

    .access.active:hover
        background-color: #318ec4
        color: #ededed

    .padded
        padding: 0 8px

        color: #393939

    .hint
        line-height: 1.5em

        padding: 0 8px

        color: #939393

        font-weight: normal

        text-transform: none
