editable
    display: block

    cursor: pointer

    form
        line-height: 1em

    input
        margin-bottom: 2px

    .button.accent
        padding: 0 12px

    .button.cancel
        background-image: none
        color: #393939

        font-size: 1.2em

        text-align: center

        opacity: .5

    .button.cancel:before
        font-family: fontello

        content: '\e806'

    .button.cancel:hover
        opacity: .8

    .help
        position: relative

        text-align: right

        z-index: 100

        span
            padding: 4px 8px

            background-color: #e6e6e6
            color: rgba(57, 57, 57, .5)

            font-size: .8em

            text-decoration: underline

            cursor: pointer

            -webkit-transition: color .4s
            -moz-transition: color .4s
            transition: color .4s

        span:hover
            color: #393939

        .dropdown
            text-align: left

            .mdhelp
                max-height: 300px

                color: #393939

                overflow: scroll

                p.second
                    opacity: .5
