.button
    position: relative
    display: inline-block

    min-width: 30px
    height: 30px
    line-height: 30px

    margin-right: 8px

    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%)
    color: #f3f3f3

    border-radius: 3px

    font-weight: bold

    text-transform: capitalize
    text-decoration: none

    vertical-align: middle

    overflow: hidden

    cursor: pointer

    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

.button.text
    padding: 4px 8px

.button:hover
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.3) 100%)

.button.accent
    background-image: linear-gradient(to bottom, #24a828 0, #1b7e1e 100%)

.button.accent:hover
    background-image: linear-gradient(to bottom, #28bd2d 0, #1f9323 100%)

.button.grey
    margin-top: 4px
    margin-right: 0
    padding: 0 8px

    background-image: linear-gradient(to bottom, #fff 0, #f0f0f0 100%)
    color: #393939

    border: 1px solid #d6d6d6
    border-bottom-color: #bdbdbd
    border-radius: 3px

    text-transform: capitalize

    overflow: visible

.button.grey:hover
    background-image: linear-gradient(to bottom, #318ec4 0, #2b7cab 100%)
    color: #f3f3f3

.button.grey.admin:before
    margin-right: 8px

    font-family: fontello

    content: '\e805'

.button.alert
    display: block

    margin: auto
    margin-top: 16px

    background-image: linear-gradient(to bottom, #cfcfcf 0, #c2c2c2 100%)
    color: #393939

    text-align: center

.button.alert:hover
    background-image: linear-gradient(to bottom, #a82424 0, #7e1b1b 100%)
    color: #fff

input, textarea, select
    display: block

    min-height: 30px
    width: 100%

    margin-bottom: 12px
    padding: 6px 9px

    background-color: #e9e9e9

    border: 1px solid #bfbfbf
    border-radius: 3px

    font-size: 90%

    -moz-box-sizing: border-box
    box-sizing: border-box

    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    -webkit-transition: background-color .4s, border-color .4s
    -moz-transition: background-color .4s, border-color .4s
    transition: background-color .4s, border-color .4s

input[type='radio']
    display: inline-block

    width: auto

    -webkit-appearance: radio
    -moz-appearance: radio
    appearance: radio

select
    -webkit-appearance: menulist
    -moz-appearance: menulist
    appearance: menulist

input:focus, select:focus
    background-color: #fcfcfc

    border-color: #318ec4

    outline: none

input.auto
    display: inline-block

    width: auto

input#import, input#user-image
    display: none

.inline
    display: inline-block

    vertical-align: top

pre
    margin: 0

    font-family: inherit

    white-space: pre-wrap

.up
    position: absolute

    left: 2px
    bottom: 0

    color: #23719f

    text-shadow: 0 0 2px #fff
    font-family: fontello

.up.low
    line-height: 15px

.up:before
    content: '\e80c'

select
    height: 2.5em

    background-image: linear-gradient(to bottom, #fff 0, #f0f0f0 100%)

    cursor: pointer

label
    margin-right: 8px

.dropdown .hint.notice
    font-weight: bold

markdown
    p
        margin: 0

    a, a:visited
        color: #0897e5

        text-decoration: underline

.link
    text-decoration: underline

    cursor: pointer

p.huge
    height: 5em
