.filter
    line-height: 40px

    padding: 0 4px

    background-color: transparent

    border-radius: 3px

    box-sizing: border-box

    cursor: pointer

    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

    -webkit-transition: background-color .4s, color .4s
    -moz-transition: background-color .4s, color .4s
    transition: background-color .4s, color .4s

    .mark
        display: inline-block

        line-height: 32px
        height: 32px
        width: 32px

        border-radius: 3px

        color: #939393

        text-align: center

        vertical-align: middle

        -webkit-transition: color .4s
        -moz-transition: color .4s
        transition: color .4s

    .mark.active:before
        font-family: fontello

        content: '\e80b'

    span
        margin-left: 8px

        vertical-align: middle

.filter.label
    .mark
        color: #ededed

.filter:hover
    background-color: #318ec4
    color: #ededed

    .mark
        color: #ededed
