.flexible
    width: 100%
    max-width: 1200px

    margin: auto
    padding-top: 32px

.flexible.small
    max-width: 800px

@media screen and (max-width: 400px)
    .flexible
        padding-top: 0
