header
    position: relative

    height: 30px

    padding: 5px

    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0, rgba(0,0,0,0.15) 100%), linear-gradient(to bottom, #27709b 0, #24688f 100%)

    z-index: 101

    -webkit-transition: width .4s
    -moz-transition: width .4s
    transition: width .4s

    .left
        position: relative
        z-index: 10

        float: left

        .button
            padding: 0 12px

            overflow: visible

            .dropdown
                left: 0
                right: auto

                .rm
                    height: 36px

                    margin: 4px 0

                    background-color: lighten(#23719f, 85%)

                    border-radius: 3px

                    opacity: .8

                    overflow: hidden

                    cursor: pointer

                    -webkit-transition: opacity .4s
                    -moz-transition: opacity .4s
                    transition: opacity .4s

                    *
                        vertical-align: middle

                    .thumb
                        display: inline-block

                        width: 36px
                        height: 100%

                        border-top-left-radius: 3px
                        border-bottom-left-radius: 3px

                        background-color: #23719f

                    span
                        line-height: 36px

                        margin-left: 8px

                        color: #393939

                .rm.ng-animate
                    -webkit-transition: none
                    -moz-transition: none
                    transition: none

                .rm:hover
                    opacity: 1

    .right
        position: relative
        z-index: 10

        float: right

        > div
            display: inline-block

        .user
            padding: 0 12px
            padding-left: 40px

            .avatar
                position: absolute

                top: 0
                left: 0

                height: 30px
                width: 30px

                background-color: #dcdcdc

                text-align: center

                .name, .img
                    position: absolute

                    top: 0
                    left: 0

                    width: 100%
                    height: 30px
                    line-height: 30px

                    background-position: center
                    -webkit-background-size: 100%
                    background-size: 100%
                    color: #393939

                    text-align: center
                    text-transform: uppercase

                .up
                    line-height: 1em

        .edit, .plus
            font-size: 1.2em

            text-align: center

        .edit
            padding: 0 12px
            margin-right: 2px

            span
                margin-left: 8px

                font-size: .85em

        .plus
            overflow: visible

        .edit:before
            font-family: fontello

            content: '\e801'

        .plus:before
            font-family: fontello

            content: '\e803'

        .dropdown
            padding: 8px 0

            text-align: left

            overflow: hidden

            .menu.back
                left: 8px

                color: #939393

            .title, .line
                display: block

            .line
                margin: 8px

            .item
                display: block
                padding: 0 .5em

                color: #161616
                background-color: transparent

                text-transform: capitalize

                cursor: pointer

                -webkit-transition: background-color .4s, color .4s
                -moz-transition: background-color .4s, color .4s
                transition: background-color .4s, color .4s

            .item:hover
                background-color: #318ec4
                color: #ededed

.login-buttons
    span
        margin-right: 8px

        color: #fff

    .login
        font-size: 1em

        text-align: center

    .login:before
        font-family: fontello

    .login.google:before
        content: '\e80d'

    .login.facebook:before
        content: '\e80e'

    .login.github:before
        content: '\e80f'

    &.large
        .login
            font-weight: normal
            font-size: 1.5em

        .login:before
            padding-right: 10px

            font-weight: bold

        .button
            padding: 4px 12px

            background-color: #24688f


.subheader
    position: relative

    width: 100%
    height: 40px
    line-height: 40px

    padding: 0 16px

    background-color: #23719f

    box-sizing: border-box

    z-index: 98

    -webkit-transition: width .4s
    -moz-transition: width .4s
    transition: width .4s

    .roadmap-title
        margin-right: 16px

        span
            padding: 4px 8px

            border-radius: 3px

        .dropdown
            left: 0
            right: auto

            line-height: 1em

            font-size: .8em

    .roadmap-title.edit, .privacy.edit
        cursor: pointer

    .roadmap-title.edit:hover, .privacy.edit:hover
        span
            background-color: rgba(0, 0, 0, .2)

    .privacy
        span
            padding: 4px 8px

            border-radius: 3px

        .dropdown
            left: 0
            right: auto

            line-height: 1em

            padding: 8px 0

            font-size: 1.2em

            .privacy-type
                padding: 8px

                color: #393939

                font-weight: bold

                cursor: pointer

                -webkit-transition: background-color .4s, color .4s
                -moz-transition: background-color .4s, color .4s
                transition: background-color .4s, color .4s

            .privacy-type:hover
                background-color: #318ec4
                color: #ededed

    .filtering
        float: right
        display: inline-block

        line-height: 1em

        margin-top: 8px
        margin-right: 0

        background-color: rgba(0,0,0,0.12)
        color: #ededed

        border-radius: 3px

        overflow: hidden

        -webkit-user-select: none
        -moz-user-select: none
        user-select: none

        cursor: pointer

        -webkit-transition: background-color .4s, margin-right .4s
        -moz-transition: background-color .4s, margin-right .4s
        transition: background-color .4s, margin-right .4s

        .title
            display: inline-block

            padding: 8px

            vertical-align: top

            text-decoration: underline

        .disable
            display: none

            height: 1em
            width: 1em

            padding: 8px

            text-align: center
            vertical-align: top

            -webkit-transition: background-color .4s
            -moz-transition: background-color .4s
            transition: background-color .4s

        .disable:before
            font-family: fontello

            content: '\e810'

        .disable:hover
            background-color: lighten(#45a145, 20%)

    .filtering:before
        line-height: 2em

        padding-left: 8px

        font-family: fontello

        content: '\e811'

    .filtering:hover
        background-color: #45a145

    .filtering.active
        background-color: #3d8f3d
        color: #ededed

        .disable
            display: inline-block

            background-color: #45a145

    .subscription
        float: right

        line-height: 1em

        margin-top: 8px
        margin-left: 8px
        padding: 8px

        color: #fff

        cursor: pointer

        span
            margin-left: 8px

            text-decoration: underline

    .subscription:before
        font-family: fontello

        content: '\e806'

    .toggle-sidebar
        float: right
        display: inline-block

        line-height: 1em

        margin-top: 8px
        padding: 8px

        color: #fff

        cursor: pointer

        span
            text-decoration: underline

    .toggle-sidebar.dark
        color: inherit

    .toggle-sidebar:before
        padding-right: 8px

        font-family: fontello
        font-weight: bold

        content: '\e807'

.subheader.small
    width: -webkit-calc(100% - 246px)
    width: -moz-calc(100% - 246px)
    width: calc(100% - 246px)

    .subscription
        margin-right: 35px

.subheader.transparent
    background-color: transparent
