.menu
    position: absolute

    opacity: .5

    z-index: 1

    cursor: pointer

    -webkit-transition: opacity .4s
    -moz-transition: opacity .4s
    transition: opacity .4s

    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

    .dropdown
        position: absolute

        top: 2em
        left: 0

        width: 200px
        line-height: 1em

        background-color: #f2f2f2

        border-radius: 5px

        font-size: .7em

        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)

        overflow: hidden

        .item
            padding: .5em

            color: #161616
            background-color: transparent

            text-transform: capitalize

            cursor: pointer

            -webkit-transition: background-color .4s, color .4s
            -moz-transition: background-color .4s, color .4s
            transition: background-color .4s, color .4s

        .item:hover
            background-color: #318ec4
            color: #ededed

.menu.remove
    font-size: .5em

.menu:before
    font-family: fontello

.menu.down:before
    content: '\e800'

.menu.remove:before
    content: '\e810'

.menu.open:before
    content: '\e808'

.menu.back:before
    content: '\e809'

.menu.undo:before
    content: '\e80a'

.menu:hover
    opacity: 1

.menu.ng-enter
    opacity: 0

.menu.ng-enter-active
    opacity: .5

.menu.ng-leave
    opacity: .5

.menu.ng-leave-active
    opacity: 0
