.full
    position: fixed
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: flex

    top: 0
    left: 0

    height: 100%
    width: 100%

    background-color: rgba(0, 0, 0, .6)

    overflow-y: auto

    z-index: 1000

    .wrapper
        width: 100%

        margin: auto

        .milestone
            width: 50%

            margin: auto
            padding: 16px

            background-color: #f0f0f0

            border-radius: 3px

            font-size: 1.2em

            box-sizing: border-box

            -webkit-transition: -webkit-transform .4s
            -moz-transition: -moz-transform .4s
            transition: transform .4s

            .hint
                margin-bottom: 4px

            .main, .calendar
                display: inline-block

                vertical-align: top

            .main
                width: 100%

            .main.small
                width: -webkit-calc(100% - 150px)
                width: -moz-calc(100% - 150px)
                width: calc(100% - 150px)

            .calendar
                width: 150px

                margin: auto

                overflow: hidden

            .button
                margin-top: 0
                padding: 0 8px

                vertical-align: top

            .button.inactive
                background-image: none
                background-color: #939393
                color: #636363

                cursor: default

            .circle
                position: relative

                display: -webkit-inline-flex
                display: -moz-inline-flex
                display: -ms-inline-flex
                display: inline-flex

                width: 80px
                height: 80px

                background-color: #e74c3c
                color: #ededed

                border-radius: 50%

                text-align: center

                overflow: hidden

                cursor: pointer

                -webkit-user-select: none
                -moz-user-select: none
                user-select: none

                -webkit-transition: -webkit-transform .4s, opacity .4s, background-color .4s
                -moz-transition: -moz-transform .4s, opacity .4s, background-color .4s
                transition: transform .4s, opacity .4s, background-color .4s

                .w
                    display: table

                    height: 100%
                    width: 200%

                    text-shadow: 0 1px 2px rgba(0, 0, 0, .5)

                    -webkit-transition: -webkit-transform .4s, opacity .4s
                    -moz-transition: -moz-transform .4s, opacity .4s
                    transition: transform .4s, opacity .4s

                    .abs-date, .rel-date
                        display: table-cell

                        height: 100%
                        width: 50%

                        vertical-align: middle

                        -webkit-transition: opacity .4s
                        -moz-transition: opacity .4s
                        transition: opacity .4s

                    .abs-date
                        opacity: 1

                    .rel-date
                        font-size: .8em

                        opacity: 0

                        .today
                            text-transform: uppercase

                        .days
                            font-size: 1.5em

            .circle:hover
                -webkit-transform: scale(1.2)
                -moz-transform: scale(1.2)
                transform: scale(1.2)

                .w
                    -webkit-transform: translateX(-50%)
                    -moz-transform: translateX(-50%)
                    transform: translateX(-50%)

                    .abs-date
                        opacity: 0

                    .rel-date
                        opacity: 1

            .circle.blank
                background-color: transparent !important
                color: #393939

                border: 3px dashed #393939

                box-sizing: border-box

                .w
                    text-shadow: none

            .line
                height: 1px
                width: 90%

                margin: 8px auto

                background-color: #dcdcdc

            .menu.remove
                display: block

                top: .1em
                right: .3em

                color: #393939

                font-size: 1em

            .description
                position: relative
                display: inline-block

                width: -webkit-calc(100% - 120px)
                width: -moz-calc(100% - 120px)
                width: calc(100% - 120px)

                margin: 16px

                vertical-align: top

                z-index: 100

            .label
                display: inline-block

                line-height: 1em

                padding: 5px 10px

                color: #fefefe

                border-radius: 3px

                text-transform: uppercase
                text-align: center

                cursor: pointer

            .date
                display: inline-block

                margin-left: 16px

                opacity: .8

            .todos
                position: relative

                padding-left: 85px

                box-sizing: border-box

            .todos.small
                display: inline-block

                width: 65%

                vertical-align: top

            .labels
                display: inline-block

                width: 30%

                margin-left: 2.5%

                vertical-align: top

                .label
                    display: block

                    width: 70%
                    min-height: 16px

                    margin-bottom: 4px

                    text-align: left
                    font-weight: normal

                    -webkit-transition: width .4s
                    -moz-transition: width .4s
                    transition: width .4s

                    .mark
                        position: absolute

                        right: 4px

                        opacity: 0

                        -webkit-transition: opacity .4s
                        -moz-transition: opacity .4s
                        transition: opacity .4s

                    .mark:before
                        font-family: fontello

                        content: '\e80b'

                .label.active
                    width: 90%

                    .mark
                        opacity: 1

                .label:hover
                    opacity: .8

            .ng-repeat-reorder-parent
                position: relative

            .todo
                padding: 4px 8px

                border-left: 4px solid rgba(147, 147, 147, 0)

                cursor: -webkit-grab
                cursor: -moz-grab
                cursor: grab

                input
                    width: 90%

                    display: inline-block

                    &:before
                        content: '&nbsp;'

                .menu
                    display: none

                    height: 1em

                    margin-right: 1em

                    font-size: .6em

                    vertical-align: middle

                    opacity: .3

                    &.remove
                        padding-top: 0.7em

                .menu:hover
                    opacity: 1

                .menu:before
                    font-size: 1.5em

            .todo:hover
                border-left: 4px solid rgb(35, 113, 159)

                background-color: rgba(35, 113, 159, .2)

                .menu
                    display: inline-block

            .todo.inactive
                color: #939393

                cursor: text

            .todo.inactive:hover
                border-left: 4px solid transparent

                background-color: transparent

            .dragging
                position: absolute

                width: 100%

                border-left: 4px solid rgb(35, 113, 159)

                background-color: rgba(35, 113, 159, .2)

                -moz-box-sizing: border-box
                box-sizing: border-box

                opacity: .5

        .milestone.small
            width: 480px

        .milestone.wide
            width: 60%

            background-color: transparent
            background-image: linear-gradient(to left, #fff 175px, #f0f0f0 176px, #f0f0f0 100%)

    .preview
        position: relative

        width: 95%
        min-height: 100px

        margin: 8px auto
        padding: 8px 32px

        background-color: #23719f

        font-size: .8333em

        -moz-box-sizing: border-box
        box-sizing: border-box

        .title
            padding-bottom: .5em

            color: #fff

            font-size: 2em

            opacity: .5

        .circle
            position: relative

            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: inline-flex

            width: 80px
            height: 80px

            background-color: #e74c3c
            color: #ededed

            border-radius: 50%

            text-align: center

            overflow: hidden

            cursor: pointer

            -webkit-user-select: none
            -moz-user-select: none
            user-select: none

            -webkit-transition: -webkit-transform .4s, opacity .4s
            -moz-transition: -moz-transform .4s, opacity .4s
            transition: transform .4s, opacity .4s

            .w
                display: table

                height: 100%
                width: 200%

                text-shadow: 0 1px 2px rgba(0, 0, 0, .5)

                -webkit-transition: -webkit-transform .4s, opacity .4s
                -moz-transition: -moz-transform .4s, opacity .4s
                transition: transform .4s, opacity .4s

                .abs-date, .rel-date
                    display: table-cell

                    height: 100%
                    width: 50%

                    vertical-align: middle

                    -webkit-transition: opacity .4s
                    -moz-transition: opacity .4s
                    transition: opacity .4s

                .abs-date
                    opacity: 1

                    font-size: 1.2em

                .rel-date
                    font-size: 1em !important

                    opacity: 0

                    .today
                        text-transform: uppercase

                    .days
                        font-size: 1.5em

        .circle:hover
            -webkit-transform: scale(1.2)
            -moz-transform: scale(1.2)
            transform: scale(1.2)

            .w
                -webkit-transform: translateX(-50%)
                -moz-transform: translateX(-50%)
                transform: translateX(-50%)

            .abs-date
                opacity: 0

            .rel-date
                opacity: 1

        .description
            position: relative
            display: inline-block

            width: 285px !important
            min-height: 76px

            margin: 0 0 0 32px !important
            padding: 8px

            background-color: #fff

            border-bottom: 1px solid #bdbdbd
            border-radius: 3px

            vertical-align: top

            cursor: pointer

            .label
                position: absolute

                top: 0
                left: 8px

                height: 4px
                width: 40px

                padding: 0

                background-color: #e74c3c

                border-radius: 0

            .menu
                top: 0
                right: .5em

            .overflowed
                width: 100%
                max-height: 200px

                overflow: hidden

            .overflow
                position: absolute

                bottom: 0
                left: 0
                right: 0

                height: 45px
                line-height: 60px

                margin-right: 8px

                background-image: linear-gradient(to top, #ededed 50%, rgba(242, 242, 242, .0000000000000000000001))
                color: #3498db

                text-align: right

                cursor: pointer

        .description:before
            position: absolute

            left: -8px
            top: 35px

            width: 15px
            height: 15px

            background-image: linear-gradient(to top left, #fff 0%, #fff 50%, transparent 51%, transparent 100%)

            transform: rotate(135deg)
            -webkit-transform: rotate(135deg)
            -moz-transform: rotate(135deg)

            content: ''

@media screen and (max-width: 1200px)
    .full
        .wrapper
            .milestone
                width: 75%

@media screen and (max-width: 900px)
    .full
        .wrapper
            .milestone
                width: 90%
