@keyframes notify
    0%
        opacity: 0

    14%
        opacity: 1

    86%
        opacity: 1

    100%
        opacity: 0

.notification
    position: fixed
    display: none

    bottom: 0
    left: 0
    right: 0

    line-height: 48px

    color: #fff

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)

    font-size: 1.5em

    text-align: center

    opacity: 0

    z-index: 1000

.notification.active
    display: block

    -webkit-animation: notify 2.8s
    -moz-animation: notify 2.8s
    animation: notify 2.8s

.notification.info
    background-color: #95a5a6

.notification.success
    background-color: #27ae60

.notification.failure
    background-color: #c0392b
