.profile-bar
    background-color: #f0f0f0

    border-bottom: 1px solid #dcdcdc

    .image
        position: relative
        display: inline-block

        height: 85px
        width: 85px

        margin-right: 16px

        background-color: #dcdcdc

        border: 1px solid #c7c7c7
        border-radius: 3px

        vertical-align: top

        cursor: pointer

        z-index: 1

        .name, .avatar
            position: absolute

            top: 0
            left: 0

            width: 85px
            height: 85px
            line-height: 85px

            border-radius: 3px

        .name
            text-align: center
            text-transform: uppercase

        .avatar
            background-position: center
            -webkit-background-size: 100%
            background-size: 100%

        .change
            position: absolute

            bottom: 0

            width: 100%
            line-height: 2em

            background-color: rgba(0, 0, 0, .5)
            color: #fff

            font-weight: bold

            text-align: center
            text-transform: capitalize
            text-decoration: underline

            opacity: 0

            -webkit-user-select: none
            user-select: none

        .dropdown
            left: 0
            right: auto

            .title
                font-weight: normal
                font-size: 1em

            .button.grey:before
                margin-right: 8px

                font-family: fontello

                content: '\e812'

    .image:hover
        .change
            opacity: 1

    .name
        display: inline-block

        font-size: 1.5em
        font-weight: bold

    .email
        display: inline-block

        margin-left: 16px

        color: #939393

    .tabs
        margin-top: 42px

        .tab
            position: relative
            display: inline-block

            bottom: -1px

            margin: 0 4px
            padding: 8px 20px

            background-color: #dbdbdb
            color: #444

            border: 1px solid #dcdcdc
            border-bottom: 1px solid #dbdbdb

            font-weight: bold

            text-transform: capitalize

            cursor: pointer

        .tab.active
            background-color: #fff

            border-bottom: 1px solid #fff

        .tab:hover
            background-color: #c2c2c2
            color: inherit

        .tab.active:hover
            background-color: #fff

.subscription
    height: 1em

    padding: 8px

    span.subscribed
        float: right

        color: #939393

        text-decoration: underline

        opacity: .5

        cursor: pointer

        -webkit-transition: opacity .4s
        -moz-transition: opacity .4s
        transition: opacity .4s

.subscription:hover
    span.name
        font-weight: bold

    span.subscribed
        opacity: 1
