.shortcut
    .title
        font-weight: bold

    .key
        float: right

        padding: 4px 8px

        background-color: #fff
        color: #666

        border: 1px solid #d3d3d3
        border-radius: 3px

        box-shadow: 0 3px 5px -2px rgba(0,0,0, .3)

        font-weight: bold

        text-transform: uppercase
