@keyframes sidebar-appear
    0%
        -webkit-transform: translateX(100%)
        -moz-transform: translateX(100%)
        transform: translateX(100%)
    100%
        -webkit-transform: translateX(0%)
        -moz-transform: translateX(0%)
        transform: translateX(0%)

.sidebar
    position: fixed

    top: 40px
    bottom: 0
    right: 0

    width: 246px

    padding: 12px 6px 0 12px

    background-color: #f0f0f0

    border-top-left-radius: 3px

    z-index: 100

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4)

    -webkit-transition: -webkit-transform .4s
    -moz-transition: -moz-transform .4s
    transition: transform .4s

    -webkit-transform-style: flat
    -moz-transform-style: flat
    transform-style: flat

    .page-title
        display: inline-block

        line-height: 32px

        margin-left: 8px

        vertical-align: middle

    .sidebar-title
        margin: 4px 0

        font-weight: bold
        font-size: 1.2em

    .hidden
        position: relative

        width: 100%
        height: 100%

        /*overflow-y: auto*/

    .line
        height: 1px

        margin: 8px 0

        background-color: #dcdcdc

    .arrow
        position: absolute

        top: 8px
        left: -26px

        width: 20px
        height: 20px
        line-height: 20px

        padding: 6px 4px 6px 6px

        background-color: #f0f0f0
        color: #a9a9a9

        border-top-left-radius: 3px
        border-bottom-left-radius: 3px

        box-shadow: -6px 0 6px -3px rgba(0,0,0,0.4)

        text-align: center

        font-size: 1.4em

        cursor: pointer

        -webkit-transition: -webkit-transform .2s, color .2s
        -moz-transition: -moz-transform .2s, color .2s
        transition: transform .2s, color .2s

        -webkit-transform: translateZ(0px)
        -moz-transform: translateZ(0px)
        transform: translateZ(0px)

    .arrow:before
        font-family: fontello

        content: '\e804'

    .arrow:hover
        color: #696969

        -webkit-transform: translateX(5px)
        -moz-transform: translateX(5px)
        transform: translateX(5px)

    .sbmenu
        line-height: 1.3em

        background-color: #dcdcdc
        color: #393939

        border-radius: 3px

        font-weight: bold
        font-size: 1.2em

        cursor: pointer

        overflow: hidden

        .title
            padding: 7px 10px

            color: #939393

            -webkit-transition: background-color .4s, color .4s
            -moz-transition: background-color .4s, color .4s
            transition: background-color .4s, color .4s

            .menu.open
                top: 0
                right: .5em

                line-height: 2em

        .title:hover
            background-color: #ccc
            color: #393939

        .items
            display: none

            border-top: 1px solid #ccc

    .sbmenu.opened
        .title
            .menu.open
                -webkit-transform: rotate(180deg)
                -moz-transform: rotate(180deg)
                transform: rotate(180deg)

        .items
            display: block

            .item
                padding-left: 16px

                font-size: .9em

            .item.main
                font-weight: bold

            .item.secondary
                color: #666

            .line.dark
                margin: 2px 0

                background-color: #ccc

    .admins
        position: relative

        z-index: 10000

        -webkit-transform-style: flat
        -moz-transform-style: flat
        transform-style: flat

        .admin
            display: inline-block

            width: 30px
            height: 30px

            margin: 2px 4px 2px 0

            background-color: #dcdcdc

            border-radius: 3px

            cursor: pointer

            .name, .img
                position: absolute

                top: 0
                left: 0

                width: 100%
                line-height: 30px
                height: 30px

                background-position: center
                -webkit-background-size: 100%
                background-size: 100%

                border-radius: 3px

                text-align: center
                text-transform: uppercase

        .admin:hover
            opacity: .8

    .header
        margin-bottom: 1em

        border-bottom; 1px solid #ddd

        .back, .title
            display: inline-block

            vertical-align: middle

        .back
            margin-left: 1em
            padding: .3em .5em

            background-color: rgba(0, 0, 0, .1)

            border-radius: 5px

            -webkit-user-select: none
            -moz-user-select: none
            user-select: none

            cursor: pointer

        .title
            margin-left: 2em

            text-transform: uppercase

    .page
        height: -webkit-calc(100% - 3em)
        height: -moz-calc(100% - 3em)
        height: calc(100% - 3em)

        -webkit-transition: opacity .4s
        -moz-transition: opacity .4s
        transition: opacity .4s

    .page.ng-enter, .page.ng-enter, .page.ng-leave, .page.ng-leave-active
        position: absolute

        left: 0
        right: 0

    .page.ng-enter
        opacity: 0

    .page.ng-enter-active
        opacity: 1

    .page.ng-leave
        opacity: 1

    .page.ng-leave-active
        opacity: 0

    .item
        margin: auto
        padding: .5em

        background-color: #dcdcdc

        font-weight: normal

        -webkit-user-select: none
        -moz-user-select: none
        user-select: none

        cursor: pointer

        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        -webkit-transition: background-color .4s
        -moz-transition: background-color .4s
        transition: background-color .4s

    .item:hover
        background-color: #ccc

    .item.subscribed:after
        margin-left: 8px

        font-family: fontello

        content: '\e80b'

    .card
        margin: 4px
        padding: 8px 8px 8px 0

        border-bottom: 1px solid #b3b3b3

        cursor: pointer

        *
            height: 1em

            vertical-align: top

        .menu
            position: static
            display: inline-block

            margin: 0 2px

            font-size: 1em

        .menu.remove
            float: right

            font-size: 1.3em

        span
            max-width: 198px

            margin: 0 8px

            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden

    .button.accent
        padding: 0 8px

.sidebar.ng-enter
    -webkit-transform: translateX(100%)
    -moz-transform: translateX(100%)
    transform: translateX(100%)

.sidebar.ng-enter-active
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    transform: translateX(0%)

.sidebar.ng-leave
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    transform: translateX(0%)

.sidebar.ng-leave-active
    -webkit-transform: translateX(100%)
    -moz-transform: translateX(100%)
    transform: translateX(100%)

.labels
    .color
        div
            vertical-align: top

        .label
            display: inline-block

            width: 32px
            height: 32px

            border-radius: 3px

        input
            display: inline-block

            width: -webkit-calc(100% - 36px)
            width: -moz-calc(100% - 36px)
            width: calc(100% - 36px)

            margin-left: 4px

.admins
    .dropdown
        padding: 8px 0

        .padded
            margin-bottom: 16px

.button.grey.admin
    z-index: 1

    .dropdown
        .admins
            font-weight: normal

            color: #393939

        .admin
            vertical-align: middle

        span
            margin-left: 8px

            text-transform: none

            vertical-align: middle

            -webkit-transition: color .4s
            -moz-transition: color .4s
            transition: color .4s

.user
    line-height: 30px

    padding: 4px

    border-radius: 3px

    cursor: pointer

    -webkit-transition: background-color .4s
    -moz-transition: background-color .4s
    transition: background-color .4s

    .admin
        vertical-align: middle

    span
        vertical-align: middle

        -webkit-transition: color .4s
        -moz-transition: color .4s
        transition: color .4s
