@keyframes bouncedelay
    0%, 80%, 100%
        -webkit-transform: scale(.3)
        -moz-transform: scale(.2)
        transform: scale(.2)

        opacity: .5
    40%
        -webkit-transform: scale(1)
        -moz-transform: scale(1)
        transform: scale(1)

        opacity: 1

.spinner
    margin: auto
    margin-top: 4px

    text-align: center

    -webkit-transition: opacity .4s
    -moz-transition: opacity .4s
    transition: opacity .4s

    *
        vertical-align: middle

    span
        margin-right: 8px

        color: #fff

        font-size: 1.5em

        text-transform: capitalize

        opacity: .6

        cursor: pointer

        -webkit-transition: opacity .4s
        -moz-transition: opacity .4s
        transition: opacity .4s

    > div
        display: inline-block

        width: 15px
        height: 0px

        margin-right: 4px

        background-color: #fff
        border-radius: 50%

        -webkit-animation: bouncedelay 1s infinite ease-in-out
        animation: bouncedelay 1s infinite ease-in-out

    .bounce1
        -webkit-animation-delay: -0.48s
        animation-delay: -0.48s

    .bounce2
        -webkit-animation-delay: -0.32s
        animation-delay: -0.32s

    .bounce3
        -webkit-animation-delay: -0.16s
        animation-delay: -0.16s

.spinner.active > div
    height: 15px

.spinner:hover
    span
        opacity: 1
