.timeline
    position: relative
    display: inline-block

    height: -webkit-calc(100% - 80px)
    height: -moz-calc(100% - 80px)
    height: calc(100% - 80px)

    width: 100%

    background-color: #23719f

    overflow-x: auto
    overflow-y: hidden

    -webkit-transition: width .4s
    -moz-transition: width .4s
    transition: width .4s

    &.wide
        padding-right: 320px

    .titles
        position: fixed

        width: 100%
        min-height: 48px

        white-space: nowrap

        background-color: #23719f

        z-index: 1000

        -webkit-transform: translateZ(0)
        -moz-transform: translateZ(0)
        transform: translateZ(0)

    .title
        position: relative
        display: inline-block

        width: 500px
        line-height: 48px

        padding: 0 32px

        background-color: #23719f
        color: #ededed

        box-shadow: 0 0 15px 0 #23719f

        -moz-box-sizing: border-box
        box-sizing: border-box

        font-size: 1.5em

        vertical-align: top

        white-space: nowrap
        text-overflow: ellipsis

        .menu
            top: 0
            left: .5em

            .dropdown
                padding: 8px 0

        .new-timeline
            display: inline-block

            padding: 0 8px

            background-color: rgba(0, 0, 0, .2)

            border-radius: 3px

            cursor: pointer

    .rows
        display: table

        height: -webkit-calc(100% - 48px)
        height: -moz-calc(100% - 48px)
        height: calc(100% - 48px)

        overflow-x: hidden
        overflow-y: auto

    .rows.old
        width: 100%

        background-image: linear-gradient(to bottom left, rgba(0,0,0,.2) 25%, transparent 25%, transparent 50%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.2) 75%, transparent 75%, transparent)
        background-size: 1em 1em
        background-position: center

    .row
        display: table-row

        .milestone
            position: relative
            display: table-cell

            width: 500px
            min-width: 500px
            min-height: 100px

            padding: 8px 32px

            background-image: linear-gradient(to right, transparent 14.19%, rgba(219, 219, 219, .5) 14.2%, rgba(219, 219, 219, .5) 14.6%, transparent 14.61%)

            -moz-box-sizing: border-box
            box-sizing: border-box

            .item
                position: relative

                .circle
                    position: relative

                    display: -webkit-inline-flex
                    display: -moz-inline-flex
                    display: -ms-inline-flex
                    display: inline-flex

                    width: 80px
                    height: 80px

                    background-color: #e74c3c
                    color: #ededed

                    border-radius: 50%

                    text-align: center

                    overflow: hidden

                    cursor: pointer

                    -webkit-user-select: none
                    -moz-user-select: none
                    user-select: none

                    -webkit-transition: -webkit-transform .4s, opacity .4s
                    -moz-transition: -moz-transform .4s, opacity .4s
                    transition: transform .4s, opacity .4s

                    -webkit-transform: scale(.8)
                    -moz-transform: scale(.8)
                    transform: scale(.8)

                    .w
                        display: table

                        height: 100%
                        width: 200%

                        opacity: 0

                        text-shadow: 0 1px 2px rgba(0, 0, 0, .5)

                        -webkit-transition: -webkit-transform .4s, opacity .4s
                        -moz-transition: -moz-transform .4s, opacity .4s
                        transition: transform .4s, opacity .4s

                        .abs-date, .rel-date
                            display: table-cell

                            height: 100%
                            width: 50%

                            vertical-align: middle

                            -webkit-transition: opacity .4s
                            -moz-transition: opacity .4s
                            transition: opacity .4s

                        .abs-date
                            opacity: 1

                            font-size: 1.2em

                        .rel-date
                            opacity: 0

                            .today
                                text-transform: uppercase

                            .days
                                font-size: 1.5em

                .description
                    position: relative
                    display: inline-block

                    width: 285px
                    min-height: 76px

                    margin-left: 32px
                    padding: 8px

                    background-color: #fff

                    border-bottom: 1px solid #bdbdbd
                    border-radius: 3px

                    vertical-align: top

                    cursor: pointer

                    .label
                        position: absolute

                        top: 0
                        left: 8px

                        height: 4px
                        width: 40px

                        background-color: #e74c3c

                    .menu
                        top: 0
                        right: .5em

                    .overflowed
                        width: 100%
                        max-height: 200px

                        overflow: hidden

                    .overflow
                        position: absolute

                        bottom: 0
                        left: 0
                        right: 0

                        height: 45px
                        line-height: 60px

                        margin-right: 8px

                        background-image: linear-gradient(to top, #ededed 50%, rgba(242, 242, 242, .0000000000000000000001))
                        color: #3498db

                        text-align: right

                        cursor: pointer

                .description:before
                    position: absolute

                    left: -8px
                    top: 35px

                    width: 15px
                    height: 15px

                    background-image: linear-gradient(to top left, #fff 0%, #fff 50%, transparent 51%, transparent 100%)

                    transform: rotate(135deg)
                    -webkit-transform: rotate(135deg)
                    -moz-transform: rotate(135deg)

                    content: ''

            .item.first
                .circle
                    -webkit-transform: scale(1)
                    -moz-transform: scale(1)
                    transform: scale(1)

                    .w
                        opacity: 1

                .circle:hover
                    -webkit-transform: scale(1.2)
                    -moz-transform: scale(1.2)
                    transform: scale(1.2)

                    .w
                        -webkit-transform: translateX(-50%)
                        -moz-transform: translateX(-50%)
                        transform: translateX(-50%)

                    .abs-date
                        opacity: 0

                    .rel-date
                        opacity: 1

    .row:first-child
        .milestone
            padding: 32px 32px 16px 32px

.tl-wrapper
    height: -webkit-calc(100% - 48px)
    height: -moz-calc(100% - 48px)
    height: calc(100% - 48px)

    margin-top: 40px

    overflow: hidden

.timeline.small
    width: -webkit-calc(100% - 246px)
    width: -moz-calc(100% - 246px)
    width: calc(100% - 246px)
