.users
    max-height: 250px

    margin-bottom: 8px

    overflow: scroll

    .image
        display: inline-block

        width: 36px
        height: 36px
        line-height: 36px

        background-color: #dcdcdc

        border-radius: 3px


        .name, .img
            position: absolute

            top: 0
            left: 0

            width: 100%
            line-height: 36px
            height: 36px

            background-color: transparent
            background-position: center
            -webkit-background-size: 100%
            background-size: 100%

            border-radius: 3px

            text-align: center
            text-transform: uppercase

    .user
        height: 36px

        margin: 4px 0

        color: #393939

        border-radius: 3px

        font-weight: normal

        text-transform: none

        overflow: hidden

        cursor: pointer

        -webkit-transition: opacity .4s
        -moz-transition: opacity .4s
        transition: opacity .4s

        *
            vertical-align: middle

        span
            margin-left: 8px

    .user.ng-animate
        -webkit-transition: none
        -moz-transition: none
        transition: none

.user-data
    color: #393939

    text-transform: none

    font-weight: normal

    *
        vertical-align: top

    .image
        width: 50px
        height: 50px

        border: 1px solid #c2c2c2

        .name, .img
            width: 50px
            height: 50px
            line-height: 50px

    span
        margin-left: 8px

    .access
        line-height: 1em

    p
        height: 1em
        line-height: 1em

        label
            margin-left: 8px
